
* {
  font-size: 1rem !important;
}

body {
  /* background-color: rgb(182, 222, 255); */
  height: 100px;
  width: 200px;
}

#popup {
  display: table;
}

#saveBtn {
  margin: 0;
  display: table-cell;
  border-radius: 0px;
  height: 50px;
}

#okBtn {
  height: 50px;
  margin: auto;
  display: none;
  border-radius: 0px;
}

#viewBtn {
  height: 50px;
  margin: auto;
  display: table-cell;
  border-radius: 0px;
}

#cancelBtn {
  background-color: rgb(255, 71, 71);
  border-color:  rgb(255, 71, 71);
  height: 50px;
  margin: auto;
  display: none;
  border-radius: 0px;
}
#cancelBtn:hover {
  background-color:  rgb(200, 60, 60);
}

.list-group-root {
  overflow: hidden;
  height: 100%;
}

#sessionListMenu > h1 {
  font-size: 2.25rem !important;
  position: relative;
  bottom: 10px;
  text-align: center;
}

#closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 0px;
  padding: 10px 15px 10px;
}

.session-title {
  padding-left: 2px;
}

.fa-box-open:hover {
  color: rgb(81, 83, 243)
}

.list-group-item > .trash-icon,
.list-group-item > .expand-icon {
  float: right;
  position: relative;
  bottom: 0px;
}
.list-group-item > .trash-icon:hover {
  color: rgb(255, 71, 71);
}
.list-group-item > .trash-icon {
  top: 1px;
}
.list-group-item > .expand-icon {
  padding: 2px 15px 2px 10px
}
.list-group-item > .expand-icon:hover {
  color: rgb(0, 172, 0)
}

.url-list {
  padding-top: 5px;
}

.url-item > .url {
  overflow: scroll;
  display: inline;
  max-width: 80%;
  word-break: break-all;
  word-wrap: break-word;
}
.url-item > i:hover {
  color: rgb(0, 140, 255);
}
